@charset "UTF-8";

.background {
    height: 500px;
    background-image: url("../../image/coffee-background.jpg");
}

.Q8-2 {
    background-repeat: no-repeat;
}

.Q8-3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Q8-4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}